QMainWindow {
    /* background: #2e3436; */
    background: #7f9dc2;
}

QsciScintilla {
    qproperty-backgroundcolor: #D9DADB;
    qproperty-marginbackgroundcolor: #D9DADB;
}

QStatusBar {
	color: white;
	font-family: "Bebas Kai";
    font-size: 12pt;
}

QPushButton, QComboBox[editable="false"],
QComboBox[editable="true"]::drop-down {
    color: white;    
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    /* background: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 #d5dad8, stop:0.169312 #064459, stop:0.292063 #023245, stop:0.76 #064459, stop:1 #d5dad8); */
    /* background: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 #d5dad8, stop:0.292063 #023245, stop:0.86 #023245, stop:1 #d5dad8); */
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #064459, stop: 1.0 #023245);
}

QComboBox QAbstractItemView {
    background: rgba(82, 82, 83, 255);
    border: 2px solid black;
    color: white;
}

QPushButton {
    font-family: "Bebas Kai";
    font-size: 15pt;
}

QPushButton:disabled {
    border-color: gray;
}

/*QPushButton[error="true"] {
    border-color: red;
}*/

QPushButton:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2da8c2, stop: 1.0 #057f98);
}

QPushButton:pressed {
    background:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(85, 85, 238, 255), stop:0.544974 rgba(90, 91, 239, 255), stop:1 rgba(126, 135, 243, 255));
}

QPushButton:checked[option="true"] {
    background:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(85, 85, 238, 255), stop:0.544974 rgba(90, 91, 239, 255), stop:1 rgba(126, 135, 243, 255));
}

QPushButton:checked {
    background:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(85, 85, 238, 255), stop:0.544974 rgba(90, 91, 239, 255), stop:1 rgba(126, 135, 243, 255));
}

QPushButton[actionName="machine.power.toggle"]:checked {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(154, 231, 153, 255), stop:0.0974359 rgba(92, 243, 81, 255), stop:0.446154 rgba(52, 251, 35, 255), stop:1 rgba(154, 231, 153, 255));
}

QPushButton[actionName="machine.power.toggle"]:pressed {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(208, 231, 207, 255), stop:0.0974359 rgba(189, 243, 185, 255), stop:0.446154 rgba(190, 251, 184, 255), stop:1 rgba(195, 231, 194, 255));
}

QPushButton[actionName="machine.estop.toggle"]:checked {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(226, 64, 64, 255), stop:0.446154 rgba(204, 0, 0, 255), stop:0.764103 rgba(225, 67, 67, 255), stop:1 rgba(249, 142, 142, 255));
}

QPushButton[actionName="machine.estop.toggle"]:pressed {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(226, 139, 139, 255), stop:0.446154 rgba(249, 142, 142, 255), stop:0.764103 rgba(225, 134, 134, 255), stop:1 rgba(249, 142, 142, 255));
}

/* E-Stop button */
ActionButton[action_id="0"]:checked {
    border-radius: 5px;
    background:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(226, 64, 64, 255), stop:0.446154 rgba(204, 0, 0, 255), stop:0.764103 rgba(225, 67, 67, 255), stop:1 rgba(249, 142, 142, 255));
}

QLabel {
    font: 14pt "Bebas Kai";
    color: white;
}

/* .QLabel[isTitle="true"]{
    border-style: solid;
    border-color: #425a76;
    border-width: 1.6px;
    border-radius: 5px;
    color: white;
    background: #547aa8;
	font: 17pt "Bebas Kai";
} 
*/


/* ===========================================================================
Sidebar

*/

QWidget#sidebar_butonGroup QPushButton,
QWidget#mdi_buttonGroup QPushButton {
    margin-top: 2px;
    margin-bottom: 2px;
    border-style: solid;
    border-color: #425a76;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 1px;
    border-left-width: 1px;
    padding: 2px;
    border-radius: 0px;
}

QWidget#sidebar_butonGroup QPushButton[first="true"],
QWidget#mdi_buttonGroup QPushButton[first="true"] {
    border-left-width: 2px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

QWidget#sidebar_butonGroup QPushButton[last="true"],
QWidget#mdi_buttonGroup QPushButton[last="true"] {
    border-right-width: 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* QPushButton {
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
    background:  qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                     stop: 0 #4e4e4e, stop: 1.0 #3a3a3a);
    border-style: solid;
    border-color: black;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 1px;
    border-left-width: 1px;
    padding: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QPushButton:pressed, QPushButton:hover {
    background:  qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                     stop: 0 #A19E9E, stop: 1.0 #5C5959);
}

QPushButton:checked {
    background:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(112, 112, 238, 255), stop:0.121053 rgba(123, 123, 232, 255), stop:0.3 rgba(85, 85, 238, 255), stop:0.694737 rgba(85, 85, 238, 255), stop:0.915789 rgba(123, 123, 232, 255), stop:1 rgba(112, 112, 238, 255))
} */

/* =============== */


QCheckBox {
	font: 15pt "Bebas Kai";
	color: white;
    spacing: 5px;
}

QCheckBox::indicator {
    width: 18px;
    height: 18px;
}

QCheckBox::indicator:unchecked {
	image: url(:/images/ui/cb_unchecked.svg);
}

QCheckBox::indicator:unchecked:pressed {
	image: url(:/images/ui/cb_checked_hover.svg);
}

QCheckBox::indicator:checked {
	image: url(:/images/ui/cb_checked.svg);
}

QCheckBox::indicator:checked:pressed {
	image: url(:/images/ui/cb_checked_hover.svg);
}

QCheckBox::indicator:indeterminate {
	image: url(:/images/ui/cb_indeterinate.svg);
}

QCheckBox::indicator:indeterminate:pressed {
	image: url(:/images/ui/cb_indeterinate_hover.svg);
}


QSlider::groove:horizontal {
    border: 1px solid #bbb;
    background: white;
    height: 12px;
    border-radius: 3px;
    }
    
QSlider::sub-page:horizontal {
    background: qlineargradient(x1: 0, y1: 0,    x2: 0, y2: 1,
        stop: 0 #66e, stop: 1 #bbf);
    background: qlineargradient(x1: 0, y1: 0.2, x2: 1, y2: 1,
        stop: 0 #bbf, stop: 1 #55f);
    border: 1px solid #777;
    height: 15px;
    border-radius: 3px;
}
    
QSlider::add-page:horizontal {
    background: rgb(235, 235, 235);
    border: 1px solid #777;
    height: 15px;
    border-radius: 3px;
}
    
QSlider::handle:horizontal {
    background: qlineargradient(spread:reflect, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(255, 255, 255, 255), stop:0.1 rgba(60, 60, 60, 255), stop:0.21 rgba(60, 60, 60, 255), stop:0.25 rgba(255, 255, 255, 255), stop:0.29 rgba(60, 60, 60, 255), stop:0.46 rgba(60, 60, 60, 255), stop:0.5 rgba(255, 255, 255, 255), stop:0.54 rgba(60, 60, 60, 255), stop:0.71 rgba(60, 60, 60, 255), stop:0.75 rgba(255, 255, 255, 255), stop:0.79 rgba(60, 60, 60, 255), stop:0.9 rgba(60, 60, 60, 255), stop:1 rgba(255, 255, 255, 255));
    border: 1px solid #777;
    border-color: rgba(40, 40, 40, 255);
    width: 30px;
    margin-top: -10.5px;
    margin-bottom: -10.5px;
    border-radius: 5px;
}
    
QSlider::handle:horizontal:hover {
    background: qlineargradient(spread:reflect, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(255, 255, 255, 255), stop:0.1 rgba(60, 60, 60, 255), stop:0.21 rgba(60, 60, 60, 255), stop:0.25 rgba(255, 255, 255, 255), stop:0.29 rgba(60, 60, 60, 255), stop:0.46 rgba(60, 60, 60, 255), stop:0.5 rgba(255, 255, 255, 255), stop:0.54 rgba(60, 60, 60, 255), stop:0.71 rgba(60, 60, 60, 255), stop:0.75 rgba(255, 255, 255, 255), stop:0.79 rgba(60, 60, 60, 255), stop:0.9 rgba(60, 60, 60, 255), stop:1 rgba(255, 255, 255, 255));
    border: 1px solid #444;
    border-color: rgb(241, 239, 237);
    border-radius: 5px;
}
    
QSlider::sub-page:horizontal:disabled {
    background: #bbb;
    border-color: #999;
}
    
QSlider::add-page:horizontal:disabled {
    background: #eee;
    border-color: #999;
}
    
QSlider::handle:horizontal:disabled {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
}


QStatusBar {
	border-style: solid;
    border-color: #425a76;
    border-top-width: 2px;
	background: #547aa8;
}

QStatusBar::item {
    border: 0px solid transparent;
    border-radius: 0px;	
	font: 16pt "BebasKai";
	color: white;
}


QDoubleSpinBox {
    padding-right: 30px; /* make room for the arrows */
    border: 1.6px solid #425a76;
	border-radius: 3px;
	background-color: white;
	font: 14pt "Bebas Kai";
	color: black;
	padding: 3px
}

QDoubleSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */
    width: 24px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	background-color: #425a76;
    border: 0px solid #425a76;
	border-color: #425a76;
	border-top-right-radius: 3px;
	margin-botom: -1.6px;
}

QDoubleSpinBox::up-button:hover,
QDoubleSpinBox::up-button:pressed {
	background-color: green;
}

QDoubleSpinBox::up-arrow {
	image: url(:/images/ui/spin_up.svg);
    width: 16px;
    height: 16px;
}

QDoubleSpinBox::up-arrow:disabled, 
QDoubleSpinBox::up-arrow:off {
	background-color: gray;
}

QDoubleSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at the top right corner */
    width: 24px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	background-color: #425a76;
    border: 0px solid #425a76;
	border-bottom-right-radius: 3px;
	margin-top: -1.6px;
}

QDoubleSpinBox::down-button:hover ,
QDoubleSpinBox::down-button:pressed {
	background-color: green;
}

QDoubleSpinBox::down-arrow {
	image: url(:/images/ui/spin_down.svg);
    width: 16px;
    height: 16px;
}

QSpinBox::down-arrow:disabled,
QSpinBox::down-arrow:off { /* off state when value in min */
	background-color: gray;
}


VCPLineEdit,
QLineEdit {
    border-style: transparent;
    border-color: rgb(134, 136, 138);
    border-width: 2px;
    border-radius: 5px;
    color: black;
    background: white;
    selection-color: white;
    selection-background-color: #057f98;
    font: 15pt "Bebas Kai";
    padding-right: 2px;
}

QLineEdit:focus {
    border-style: solid;
    border-width: 3px;
    border-color: #057f98;
}

.QFrame {
    /* background-color: rgb(46, 52, 54); */
    background-color: #a4b9d4;
    border-style: solid;
    /* border-color: rgb(186, 189, 182); */
    border-color: #425a76;
    border-width: 2px;
    border-radius: 6px;
}

.QFrame[role="floating"] {
    padding: 10px;
}

.QFrame[isHeading="true"] {
    border-style: solid;
    border-color: #425a76;
    border-width: 1.4px;
    border-radius: 5px;
    color: white;
    background: #547aa8;
    padding: -5px;
}

DROWidget {
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    background-color: white;
}

DROLabel, DROLineEdit, StatusLabel[role="box"], HalLabel[role="frame"]{
    border-style: solid;
    border-color: #425a76;
    border-width: 1.6px;
    border-radius: 5px;
    color: black;
    background: white;
	font: 17pt "Bebas Kai";
    padding-right: 2px;
}

DROLabel[style="unhomed"]{
   color: red;
}

DROLineEdit[style="homing"]{
   color: rgb(196, 160, 0);
}

QLabel[axisLetter="true"]{
    border-style: solid;
    border-color: rgb(235, 235, 235);
    border-width: 1.6px;
    border-radius: 5px;
    color: rgb(238, 238, 236);
	font: 18pt "Bebas Kai";
}

QLabel[role="title"]{
    border-style: solid;
    border-color: #425a76;
    border-width: 1.6px;
    border-radius: 5px;
    color: white;
    background: #547aa8;
	font: 18pt "Bebas Kai";
	text-align: center;
}

/* "unhomed" if (not bool(ch[0]) and not bool(ch[1])) else ("homing" if bool(ch[1]) else "") */

HalQSpinBox, HalLabel[role="box"] {
    border-style: solid;
    border-color: #425a76;
    border-width: 1.4px;
    border-radius: 5px;
    color: black;
    background: white;
	font: 15pt "Bebas Kai";
    padding: 4px;
}

QGroupBox {
    border: 1.5px solid #425a76;
    border-radius: 5px;
    margin-top: 1ex;
	font: 15pt "Bebas Kai";
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 3px;
    color: white;
}

GcodeBackplot {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    background-color: black;
    margin: 10px;
    font: 12pt "Bebas Kai";
}

GcodeEditor {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: 2px;
    font: 12pt "Bebas Kai";
}

GcodeTextEdit {
    background-color: white;
    font: 12pt "Bebas Kai";
}

QScrollArea {
    border: none;
}

QScrollBar {
    background: rgb(146, 150, 149);
}

QScrollBar:horizontal {
    height: 20px;
}

QScrollBar:vertical {
    width: 20px;
}

QScrollBar::handle {
    background: white;
    border: 3px solid rgb(146, 150, 149);
    border-radius: 4px;
}

QScrollBar::handle:horizontal {
    height: 20px;
    min-width: 25px;
}

QScrollBar::handle:vertical {
    width: 20px;
    min-height: 25px;
}

QScrollBar::add-line:horizontal {
    border: 4px solid rgb(146, 150, 149);
    background: rgb(146, 150, 149);
}

QScrollBar::sub-line:horizontal {
    border: 4px solid rgb(146, 150, 149);
    background: rgb(146, 150, 149);
}

QScrollBar::add-line:vertical {
    border: 4px solid rgb(146, 150, 149);
    background: rgb(146, 150, 149);
}

QScrollBar::sub-line:vertical {
    border: 4px solid rgb(146, 150, 149);
    background: rgb(146, 150, 149);
}

/*===========================================================================*/
/*                            Tabbed Widget                                  */
/*===========================================================================*/

QTabWidget {
    /* background: #818584; */
    background: #7f9dc2;
}

QTabWidget::pane {
    background: transparent;
}

QTabWidget::tab-bar {
    left: 5px; /* move to the right by 5px */
}

/* Style the tab using the tab sub-control. Note that it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #064459, stop: 1.0 #023245);
    border-style: solid;
    border-color: black;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 1px;
    border-left-width: 1px;
    min-width: 10ex;
    min-height: 3ex;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #064859, stop: 1.0 #057f98);
                                     /* #2d8bad */
}

QTabBar::tab:selected {
    /* background: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 #d5dad8, stop:0.169312 #064459, stop:0.292063 #023245, stop:0.76 #064459, stop:1 #d5dad8); */
    /* background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(112, 112, 238, 255), stop:0.121053 rgba(123, 123, 232, 255), stop:0.3 rgba(85, 85, 238, 255), stop:0.694737 rgba(85, 85, 238, 255), stop:0.915789 rgba(123, 123, 232, 255), stop:1 rgba(112, 112, 238, 255)) */
    /* background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #70c6ee, stop:0.121053 #05a6a8, stop:0.3 #057f98, stop:0.694737 #057f98, stop:0.915789 #05a6a8, stop:1 #70c6ee) */
    /* background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #70b7ee, stop:0.121053 #7bb9e8, stop:0.3 #057f98, stop:0.694737 #057f98, stop:0.915789 #7bb9e8, stop:1 #70b7ee) */
    background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #065659, stop: 1.0 #057f98);
}

QTabBar::tab:first {
    border-left-width: 2px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

QTabBar::tab:last {
    border-right-width: 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

QTabBar::tab:only-one {
    border-width: 2px;
    border-radius: 4px;
}


QWidget#buttonBox QPushButton {
    border-radius: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
}

QWidget#buttonBox QPushButton[position='first'] {
    border-left-width: 2px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

QWidget#buttonBox QPushButton[position='last'] {
    border-right-width: 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/***** Jog Increment Widget *****/
JogIncrementWidget {
    margin: 0px;
}

/*===========================================================================*/
/*                            Big Buttons                                    */
/*===========================================================================*/

#copy_from_usb,
#copy_to_usb {
    color: white;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    background: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(183, 185, 185, 255), stop:0.077 rgba(82, 82, 83, 255), stop:0.328042 rgba(72, 70, 73, 255), stop:0.492063 rgba(78, 77, 79, 255), stop:0.703704 rgba(72, 70, 73, 255), stop:0.918 rgba(82, 82, 83, 255), stop:1 rgba(183, 185, 185, 255));
}

#copy_from_usb:disabled,
#copy_to_usb:disabled {
    border-color: gray;
}

#copy_from_usb:hover,
#copy_to_usb:hover {
    background:  qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                     stop: 0 #A19E9E, stop: 1.0 #5C5959);
}

#copy_from_usb:pressed,
#copy_to_usb:pressed {
    background:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(85, 85, 238, 255), stop:0.544974 rgba(90, 91, 239, 255), stop:1 rgba(126, 135, 243, 255));
}

/*===========================================================================*/
/*                             QMenuBar                                      */
/*===========================================================================*/

QMenuBar {
    background-color: rgb(85, 90, 90);
    padding: 1px;
    border: 0px solid black;
    color: white;
    font-family: "Bebas Kai";
    font-size: 12pt;
}

QMenuBar:focus {
    border: 1px solid #AA6600;
}

QMenuBar::item {
    background: transparent;
    padding: 3px;
}

QMenuBar::item:selected {
    padding: 3px;
    background: rgb(135, 138, 140);
    border: 0px solid #454545;
}

QMenuBar::item:pressed {
    padding: 3px;
    border: 0px solid #454545;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(85, 85, 238, 255), stop:0.544974 rgba(90, 91, 239, 255), stop:1 rgba(126, 135, 243, 255));
    color: #F0F0F0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

QMessageBox {
    color: white;
    background-color: #2e3436;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

/*===========================================================================*/
/*                               QMenu                                       */
/*===========================================================================*/

QMenu {
    border: 0px solid #454545;
    background-color: gray;
    color: white;
    margin: 0px;
    font-family: "Bebas Kai";
    font-size: 11pt;
}

QMenu::separator {
    height: 2px;
    background-color: white;
    color: red;
    padding-left: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

QMenu::icon {
    margin: 0px;
    padding-left:4px;
}

QMenu::item {
    padding: 4px 24px 4px 24px;
    border: 1px transparent #454545;  /* reserve space for selection border */
}

QMenu::item:selected {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(85, 85, 238, 255), stop:0.544974 rgba(90, 91, 239, 255), stop:1 rgba(126, 135, 243, 255));
    border: 0px solid #454545;
}

QMenu::indicator {
    width: 12px;
    height: 12px;
    padding-left:6px;
}

/*===========================================================================*/
/*                               vtkbuttons                                  */
/*===========================================================================*/

#vtk_control_buttons {
    background:black;
}

#x_view_button,
#y_view_button,
#z_view_button,
#z2_view_button,
#iso_view_button,
#clear_button,
#zoom_in_button,
#zoom_out_button,
#ortho_button,
#perspective_button,
#path_button,
#pan_button,
#program_zoom_button,
#machine_zoom_button {
    color: white;
    border-color: rgb(74, 77, 81);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(213, 218, 216, 255), stop:0.169312 rgba(82, 82, 83, 255), stop:0.328042 rgba(72, 70, 73, 255), stop:0.492063 rgba(78, 77, 79, 255), stop:0.703704 rgba(72, 70, 73, 255), stop:0.86 rgba(82, 82, 83, 255), stop:1 rgba(213, 218, 216, 255));
}

#x_view_button,
#y_view_button,
#z_view_button,
#z2_view_button,
#iso_view_button,
#clear_button,
#zoom_in_button,
#zoom_out_button,
#ortho_button,
#perspective_button,
#path_button,
#pan_button,
#program_zoom_button,
#machine_zoom_button {
    font-family: "Bebas Kai";
    font-size: 14pt
}

#x_view_button:disabled,
#y_view_button:disabled,
#z_view_button:disabled,
#z2_view_button:disabled,
#iso_view_button:disabled,
#clear_button:disabled,
#zoom_in_button:disabled,
#zoom_out_button:disabled,
#ortho_button:disabled,
#perspective_button:disabled,
#path_button:disabled,
#pan_button:disabled,
#program_zoom_button:disabled,
#machine_zoom_button:disabled {
    background:  qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #A19E9E, stop: 1.0 #5C5959);
}

#x_view_button:hover,
#y_view_button:hover,
#z_view_button:hover,
#z2_view_button:hover:hover,
#iso_view_button:hover,
#clear_button:hover,
#zoom_in_button:hover,
#zoom_out_button:hover,
#ortho_button:hover,
#perspective_button:hover,
#path_button:hover,
#pan_button:hover,
#program_zoom_button:hover,
#machine_zoom_button:hover {
    background:  qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #A19E9E, stop: 1.0 #5C5959);
}

#x_view_button:pressed,
#y_view_button:pressed,
#z_view_button:pressed,
#z2_view_button:pressed,
#iso_view_button:pressed,
#clear_button:pressed,
#zoom_in_button:pressed,
#zoom_out_button:pressed,
#ortho_button:pressed,
#perspective_button:pressed,
#path_button:pressed,
#pan_button:pressed,
#program_zoom_button:pressed,
#machine_zoom_button:pressed {
    background:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(85, 85, 238, 255), stop:0.544974 rgba(90, 91, 239, 255), stop:1 rgba(126, 135, 243, 255));
}

#x_view_button:checked[option="true"],
#y_view_button:checked[option="true"],
#z_view_button:checked[option="true"],
#z2_view_button:checked[option="true"],
#iso_view_button:checked[option="true"],
#clear_button:checked[option="true"],
#zoom_in_button:checked[option="true"],
#zoom_out_button:checked[option="true"],
#ortho_button:checked[option="true"],
#perspective_button:checked[option="true"],
#path_button:checked[option="true"],
#pan_button:checked[option="true"],
#program_zoom_button[option="true"],
#machine_zoom_button[option="true"] {
    background:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(85, 85, 238, 255), stop:0.544974 rgba(90, 91, 239, 255), stop:1 rgba(126, 135, 243, 255));
}

#x_view_button:checked[option="false"],
#y_view_button:checked[option="false"],
#z_view_button:checked[option="false"],
#z2_view_button:checked[option="false"],
#iso_view_button:checked[option="false"],
#clear_button:checked[option="false"],
#zoom_in_button:checked[option="false"],
#zoom_out_button:checked[option="false"],
#ortho_button:checked[option="false"],
#perspective_button:checked[option="false"],
#path_button:checked[option="false"],
#pan_button:checked[option="false"],
#program_zoom_button[option="false"],
#machine_zoom_button[option="false"] {
    background:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(85, 85, 238, 255), stop:0.544974 rgba(90, 91, 239, 255), stop:1 rgba(126, 135, 243, 255));
}

/*===========================================================================*/
/*                             probe buttons                                 */
/*===========================================================================*/

SubCallButton {
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                     stop: 0 #eaeaea, stop: 1.0 #b8b8b8);
}

SubCallButton:disabled {
    border-color: gray;
}

SubCallButton:hover {
    background:  qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #CFCDCA, stop: 1.0 #5C5959);
}

SubCallButton:pressed {
    background:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(85, 85, 238, 255), stop:0.544974 rgba(90, 91, 239, 255), stop:1 rgba(126, 135, 243, 255));
}

SubCallButton:checked[option="true"] {
    background:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(85, 85, 238, 255), stop:0.544974 rgba(90, 91, 239, 255), stop:1 rgba(126, 135, 243, 255));
}

SubCallButton:checked[option="false"] {
    background:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(85, 85, 238, 255), stop:0.544974 rgba(90, 91, 239, 255), stop:1 rgba(126, 135, 243, 255));
}

/*===========================================================================*/
/*                             tool and offset table                         */
/*===========================================================================*/

QHeaderView {
    font: 14pt "Bebas Kai";
    background-color: rgb(220, 220, 220);
    color: black;
    border: none;
}

ToolTable, OffsetTable {
    border-top: 8px rgb(120, 120, 120);
    border-left: 4px  rgb(120, 120, 120);
    border-bottom: 5px rgb(120, 120, 120);
    border-right: 4px rgb(120, 120, 120);
    border-radius: 5px;
    border-color: rgb(120, 120, 120);
    border-style: solid;
    background-color: rgb(120, 120, 120);
    gridline-color: rgb(203, 203, 203);
    alternate-background-color: rgb(90, 90, 90);
    color: white;
    font: 15pt "Bebas Kai";
}

